<div class="wrapper">
  <div class="footer content">
    <div class="footer__left">
      <div class="footer__left-info">
        <div class="footer__left-info-schedule">
          <h4 class="footer__left-info-schedule-time">Мы работаем</h4>
          <h4 class="footer__left-info-schedule-time">24/7</h4>
        </div>
        <div class="footer__left-info-box">
          <div class="footer__left-info-box-line line"></div>
          <div class="footer__left-info-box-contacts">
            <div class="footer__left-info-box-contacts-address">
              <p class="footer__left-info-box-contacts-address-company">
                ООО "Регион Строй"
              </p>
              <a
                href="https://yandex.ru/map-widget/v1/?um=constructor%3A2b409521389719929a1088b08aad3d65bbaffe9d4e8554c3a046223a9de3fa65&amp;source=constructor"
              >
                <img
                  src="/assets/images/icons/Yandex_Maps_icon.svg"
                  alt="иконка яндекс карты"
                />
                г.Тверь Промышленный проезд д.11 офис12
              </a>
            </div>

            <div class="footer__left-info-box-contacts-tel">
              <div class="footer__left-info-box-contacts-tel-item">
                <a
                  href="tel:89201711771"
                  class="footer__left-info-box-contacts-tel-item-link tel-one"
                  ><span> <mat-icon>call</mat-icon> </span>8-920-171-17-71</a
                >
              </div>
              <div class="footer__left-info-box-contacts-tel-item">
                <a
                  href="tel:89043586195"
                  class="footer__left-info-box-contacts-tel-item-link tel-two"
                  ><span> <mat-icon>call</mat-icon> </span>8-904-358-61-95</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="footer__left-info-messengers">
          <div class="footer__left-info-messengers-whtsp">
            <a
              href="https://wa.me/+79043586195"
              target="_blank"
              class="footer__left-info-messengers-whtsp-link whats-app"
              id="whts"
              ><img
                src="/assets/images/icons/whatsapp.svg"
                alt="иконка whatsapp"
              />
            </a>
          </div>

          <div class="footer__left-info-messengers-tlg">
            <a
              href="https://t.me/+79201711771"
              target="_blank"
              class="footer__left-info-messengers-tlg-link telegram"
              id="tlg"
              ><img
                src="/assets/images/icons/telegram.svg"
                alt="иконка telegram"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="line line-null"></div>
    <div class="footer__logo">
      <a href="#">
        <img
          src="/assets/images/icons/logo-white.png"
          alt="логотип компании"
          loading="lazy"
        />
      </a>
    </div>
    <div class="footer__right">
      <nav class="footer__right-nav">
        <ul class="footer__right-nav-menu">
          <li class="footer__right-nav-menu-item">
            <a
              class="footer__right-nav-menu-item-link decor"
              routerLink="services"
              routerLinkActive="active"
            >
              Услуги
            </a>
          </li>
          <li class="footer__right-nav-menu-item">
            <a
              class="footer__right-nav-menu-item-link decor"
              routerLink="calculator"
              routerLinkActive="active"
            >
              Калькулятор
            </a>
          </li>
          <li class="footer__right-nav-menu-item">
            <a
              class="footer__right-nav-menu-item-link decor"
              routerLink="gallery"
              routerLinkActive="active"
            >
              Проекты
            </a>
          </li>
          <li class="footer__right-nav-menu-item">
            <button (click)="openDialog()">
              <span>
                <mat-icon>engineering</mat-icon>
              </span>
            </button>
          </li>
        </ul>
      </nav>

      <div class="footer__right-docs">
        <div class="footer__right-docs-privacy">
          <a routerLink="privacy"
              routerLinkActive="active" class="footer__right-docs-privacy-link">
            Политика конфиденциальности
          </a>
        </div>
        <div class="footer__right-docs-copyright">
          <p class="footer__right-docs-copyright-txt">Copyright © 2025</p>
        </div>
      </div>
    </div>
  </div>
</div>
