@use "variables";
@use "@angular/material" as mat;

:root {
  @include mat.checkbox-overrides(
    (
      label-text-size: 14px,
      label-text-color: var(--color-black),
      selected-checkmark-color: var(--color-black),
      selected-focus-icon-color: var(--color-black-0),
      selected-focus-state-layer-color: var(--color-black-0),
      selected-pressed-state-layer-color:var(--color-black-0),
      selected-icon-color: var(--color-black-0),
      selected-pressed-icon-color: var(--color-black),
      unselected-icon-color: var(--color-black),
      unselected-focus-icon-color: var(--color-black),
      unselected-hover-icon-color: var(--color-black),
      unselected-focus-state-layer-color: var(--color-black-0),
      unselected-hover-state-layer-color: var(--color-black-0),
      unselected-pressed-state-layer-color: var(--color-black-0),
      selected-hover-icon-color: var(--color-black-0),
    )
  );
}
