@use "variables";
@use '@angular/material' as mat;

:root {
  @include mat.dialog-overrides(
    (
      container-color: variables.$squash,
      // container-color: variables.$carrot-orange,
      // container-color: variables.$cantaloupe,
      subhead-color: variables.$black,
      // supporting-text-color: green,
      container-max-width: 100%,
      container-min-width: 30%,
      actions-alignment: center,
    )
  );
}