@use "variables";
@use "./mixins" as mixins;
@use "@angular/material" as mat;

:root {
  @include mat.dialog-overrides(
    (
      container-color: var(--color-squash),
      subhead-color: var(--color-black),
      container-max-width: 90%,
      container-min-width: 30%,
      actions-alignment: center,
    )
  );

  @include mixins.mobile {
    @include mat.dialog-overrides(
      (
        container-max-width: 95%,
      )
    );
  }
}
