@use "variables";
@use "./mixins" as mixins;
@use "decoration";

.wrapper {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--color-bg-orange);
  @include mixins.tablet {
    overflow: visible;
  }

  .header {
    &__container {
      width: 100%;
      @include mixins.flex($justify-c: space-between);
      flex-flow: wrap;
      background-color: var(--color-bg-orange);
      padding: 7px 35px;

      @include mixins.tablet {
        padding: 7px 10px;
      }

      @include mixins.mobile {
        justify-content: center;
      }

      &-logo {
        @include mixins.tablet {
          order: 2;
        }
        @include mixins.mobile {
          order: 2;
        }

        &-link {
          @include mixins.flex();

          &-name {
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            font-size: 40px;
            @include mixins.tablet {
              font-size: 28px;
            }
            @include mixins.mobile {
              display: none;
            }
          }

          img {
            width: 60px;
            @include mixins.tablet {
              width: 48px;
            }
            @include mixins.mobile {
              width: 52px;
            }
          }

          h2 {
            margin: 0;
          }
        }
      }

      &-burger {
        display: none;
        @include mixins.tablet {
          display: block;
          color: var(--color-text-black);
          margin-right: 4px;
          margin-bottom: 4.5px;
        }

        &-trigger {
          display: none;
          &:checked {
            ~ .burger-wrapper {
              .hamburger {
                background: transparent;

                &:after,
                &:before {
                  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
                  top: 0;
                }

                &:before {
                  transform: rotate(45deg);
                }

                &:after {
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }

        &-wrapper {
          cursor: pointer;
          position: relative;

          &-hamburger,
          &-hamburger::before,
          &-hamburger::after {
            @include mixins.size($width: 32px, $height: 1px);
            border-radius: 10px;
            background: var(--color-bg-black);
          }

          &-hamburger {
            position: relative;
            top: 4px;
            transition: background 10ms 300ms ease;
            margin: auto;

            &:before,
            &:after {
              content: "";
              position: absolute;
              left: 0;
              transition: top 300ms 350ms ease, transform 300ms 50ms ease;
            }

            &:before {
              top: -12px;
            }

            &:after {
              top: 12px;
            }
          }

          &-layer-click {
            @include mixins.size($width: 40px, $height: 40px);
            position: absolute;
            top: -18px;
            z-index: 3;
          }
        }
      }

      &-nav {
        @include mixins.size($width: auto, $height: auto);
        border-radius: 0px;
        transform: translateY(0%);

        @include mixins.tablet {
          order: 1;
          @include mixins.size($width: 760px, $height: 0vh);
          position: absolute;
          transform: translateY(-100vh);
          transition-property: transform, border-radius, width, height;
          transition-duration: 0.6s;
          transition-timing-function: ease-in-out;
          background: var(--color-bg-white);
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 100px;
          margin-left: -9px;
          z-index: -1;
        }

        @include mixins.mobile {
          @include mixins.size($width: 310px, $height: 0vh);
          margin: -10px auto 0 auto;
        }

        &-menu {
          @include mixins.flex();
          gap: 25px;
          margin: 0 auto;

          @include mixins.tablet {
            gap: 15px;
            flex-direction: column;
            min-height: 91.5%;
          }

          &-item {
            &:first-child,
            &:last-child {
              @include mixins.size($width: 28px, $height: 28px);
            }

            a {
              color: var(--color-text-black);
              transition: color 0.2s ease;

              &:hover {
                color: var(--color-link-white);
                @include mixins.tablet {
                  color: var(--color-squash);
                }
                @include mixins.mobile {
                  color: var(--color-text-black);
                }
              }

              &:active {
                @include mixins.mobile {
                  color: var(--color-squash);
                }
              }
            }

            span {
              @include mixins.size();

              mat-icon {
                @include mixins.size();
                color: var(--color-text-black);
                font-size: 28px;
                transition: color 0.2s ease-in-out, transform 0.25s ease-in-out;

                &:hover {
                  transform: scale(1.07, 1.07);
                  color: var(--color-link-white);

                  @include mixins.tablet {
                    color: var(--color-squash);
                  }

                  @include mixins.mobile {
                    transform: scale(1, 1);
                    color: var(--color-text-black);
                  }
                }

                &:active {
                  @include mixins.mobile {
                    color: var(--color-squash);
                  }
                }
              }
            }
          }
        }
      }

      &-nav.show {
        @include mixins.tablet {
          transform: translateY(44.35%);
          height: 100vh;
        }
      }

      &-tel {
        @include mixins.tablet {
          order: 3;
          margin-left: auto;
        }

        &-item {
          &-link {
            color: var(--color-link-black);
            transition: color 0.3s ease;
            font-weight: 400;

            &:hover {
              color: var(--color-link-white);

              @include mixins.mobile {
                color: rgb(0, 0, 0);
              }
            }

            &:active {
              @include mixins.mobile {
                color: var(--color-link-white);
              }
            }

            span {
              margin-right: 2px;
              @include mixins.tablet {
                margin-right: -5px;
              }

              @include mixins.mobile {
                margin-right: -10px;
              }

              mat-icon {
                height: 100%;
                font-size: clamp(0.875rem, 0.7875rem + 0.4375vw, 1.3125rem);
                font-weight: 600;
                margin-bottom: -3px;
              }
            }
          }
        }
      }
    }
  }
}
