@use "variables";
@use "decoration";

.wrapper {
}
.calculator {
  color: variables.$text-black;
  padding: 0 40px;
  @media (min-width: 320px) and (max-width: 1023px) {
    padding: 0 10px;
  }

  &__title {
    margin-bottom: 0;
  }
  &__price {
    display: flex;
    justify-content: center;
    margin: 10px 0px 15px 0px;

    table {
      width: 100%;
      // padding: 5px 20px;
      border-spacing: 0px;
      text-align: center;
      border: 1px solid black;
      @media (min-width: 320px) and (max-width: 1023px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    th {
      font-family: Oswald, "Helvetica Neue", sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      border-bottom: 1px solid black;
      @media (min-width: 320px) and (max-width: 1023px) {
        font-size: 14px;
        font-weight: 400;
      }
    }
    thead {
      @media (min-width: 320px) and (max-width: 1023px) {
        display: flex;
        flex-direction: row;
      }

      tr {
        @media (min-width: 320px) and (max-width: 1023px) {
          display: flex;
          flex-direction: column;
          margin-bottom: 38px;
        }
      }

      th {
        border-bottom: none;
        @media (min-width: 320px) and (max-width: 1023px) {
          padding: 1px 0;
        }
      }
      th:nth-child(1) {
        @media (min-width: 320px) and (max-width: 1023px) {
          // margin-top: -19.5px;
          padding-top: 20px;
        }
      }
      th:nth-child(2) {
        // padding: 2px 0;
        @media (min-width: 320px) and (max-width: 1023px) {
          padding: 2px 0 2px 0;
        }
      }
      th:nth-child(6) {
        @media (min-width: 320px) and (max-width: 1023px) {
          padding-top: 41%;
          margin-bottom: -40px;
        }
      }

      th:nth-child(1),
      th:nth-child(3),
      th:nth-child(5) {
        @media (min-width: 320px) and (max-width: 1023px) {
          background-color: variables.$bg-yellow;
        }
      }
    }
    tbody {
      @media (min-width: 320px) and (max-width: 1023px) {
        display: flex;
        flex-direction: row;
      }

      tr {
        @media (min-width: 320px) and (max-width: 1023px) {
          display: flex;
          flex-direction: column;
          border-left: 1px solid #000;
        }

        td:nth-child(1) {
          // font-weight: 600;
          font-size: 18px;
          font-family: Oswald, "Helvetica Neue", sans-serif;
          @media (min-width: 320px) and (max-width: 1023px) {
            font-size: 16px;
            line-height: 1.2;
          }
        }
      }
      tr:nth-child(1),
      tr:nth-child(3) {
        background-color: variables.$bg-yellow;
        @media (min-width: 320px) and (max-width: 1023px) {
          background-color: transparent;
        }
      }
      tr:nth-child(1) {
        td:nth-child(6) {
          @media (min-width: 320px) and (max-width: 1023px) {
          }
        }
      }
      tr:nth-child(2) {
        td:nth-child(6) {
          @media (min-width: 320px) and (max-width: 1023px) {
            padding-top: 45%;
            // margin-bottom: -70px;
          }
        }
      }
      tr:nth-child(3) {
        td:nth-child(1) {
          @media (min-width: 320px) and (max-width: 1023px) {
            padding-top: 20.5px;
          }
        }
        td:nth-child(2) {
          @media (min-width: 320px) and (max-width: 1023px) {
            padding-top: 5px;
          }
        }
        td:nth-child(6) {
          @media (min-width: 320px) and (max-width: 1023px) {
            padding-top: 90%;
          }
        }
      }
      td {
        @media (min-width: 320px) and (max-width: 1023px) {
          font-size: 14px;
          padding: 2px 0;
        }
      }
      td:nth-child(1),
      td:nth-child(3),
      td:nth-child(5) {
        @media (min-width: 320px) and (max-width: 1023px) {
          background-color: variables.$bg-yellow;
        }
      }
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 10px;
  }
  &__container {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 20px;
    @media (min-width: 320px) and (max-width: 1023px) {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
    }

    &-calc {
      width: 40%;
      outline: 1px solid black;
      outline-offset: -4px;
      background-color: rgb(255, 187, 61); // $texas-rose;
      border-radius: 20px;
      @media (min-width: 320px) and (max-width: 1023px) {
        width: 100%;
      }

      &-name {
        text-align: center;
        margin-bottom: 0px;
      }
      &-wrap {
        &-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 auto 10px auto;
          width: 90%;
          @media (min-width: 320px) and (max-width: 1023px) {
          }

          &-label {
            margin-bottom: 5px;
          }
          &-input {
            width: 100%;

            input {
              width: 100%;
              padding: 10px;
              border-radius: 6px;
              background-color: rgb(20, 20, 20);
            }
            span {
              color: red;
              font-size: 12px;
            }
          }
          &-btn {
            width: 100%;
            color: black;
            border: 1px solid black;
            padding: 10px 10px;
            border-radius: 10px;
            margin-bottom: 5px;
            transition: color 0.5s ease, background-color 0.5s ease;
          }
          &-btn:hover {
            color: black;
            border: 1px solid rgb(255, 255, 255);
            background-color: rgb(255, 255, 255);
          }
          &-btn:active {
            color: rgb(255, 255, 255);

            background-color: black;
          }
          &-result {
            font-weight: 600;
            font-size: 22px;
            //  text-align: center;
          }
        }
      }
    }
    .calc-wall {
      position: relative;
      .calculator__container-calc-wrap {
        width: 100%;
        position: absolute;
        top: 70%;
        transform: translateY(-70%);
        @media (min-width: 320px) and (max-width: 1023px) {
          position: relative;
          top: 0%;
          transform: translateY(0%);
        }
      }
    }
  }
  &__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    &-number {
      font-family: Oswald, "Helvetica Neue", sans-serif;
      font-size: 26px;
      border-bottom: 2px solid variables.$border-orange;
    }
    &-description {
    }
    &-btn {
      @media (min-width: 320px) and (max-width: 1023px) {
        width: 100%;
      }
      button {
        @media (min-width: 320px) and (max-width: 1023px) {
          background-color: rgba(255, 187, 61, 1);
          border: none;
          width: 100%;
        }
      }

      button:hover {
        color: variables.$black;
        border: 1px solid transparent;
        background-color: rgba(255, 187, 61, 1);
      }

      button:active {
        color: variables.$seashell;
        border: 1px solid variables.$seashell;
        background-color: variables.$bg-dark-gray;
      }
    }
  }
}
