<!-- <div class="wrapper">
  <div class="content price">
    <table>
      <thead>
        <tr>
          <th>Вид работы</th>
          <th>Площадь</th>
          <th>Толщина</th>
          <th>Цена (за м2)</th>
          <th>Дополнительно</th>
          <th>*</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Стяжка пола</td>
          <td>м2</td>
          <td>6см</td>
          <td>800руб.</td>
          <td>каждый см свыше - 150 руб.</td>
        </tr>
        <tr>
          <td>Штукатурка стен</td>
          <td>м2*</td>
          <td>20 мм</td>
          <td>750 руб.</td>
          <td></td>
          <td>*от 300 м2</td>
        </tr>
        <tr>
          <td>Откосы</td>
          <td>1м</td>
          <td></td>
          <td>950 руб</td>
        </tr>
      
      </tbody>
    </table>
  </div>
</div> -->
