@use "variables" as vars;

@mixin flex($display: flex, $justify-c: center, $align-i: center) {
  display: $display;
  justify-content: $justify-c;
  align-items: $align-i;
}

@mixin size($height: 100%, $width: 100%) {
  width: $width;
  height: $height;
}

@mixin glass(
  $border-r: 10px,
  $border: 1px solid var(--color-border-white-02),
  $box-s: 3px 4px 6px var(--color-shadow-black-02),
  $background: var(--color-bg-glass),
  $backdrop-f: blur(5.1px),
  $w-b-filter: blur(5.1px)
) {
  border-radius: $border-r;
  border: $border;
  box-shadow: $box-s;
  background: $background; 
  backdrop-filter: $backdrop-f;
  -webkit-backdrop-filter: $w-b-filter;
}

@mixin card-outline(
  $background-c: var(--color-bg-yellow),
  $border-r: inherit,
  $outline: 1px solid var(--color-border-black),
  $outline-o: -4.5px
) {
  background-color: $background-c;
  border-radius: $border-r;
  outline: $outline;
  outline-offset: $outline-o;
}

@mixin mobile($max-mobile-width: 767px) {
  @media (max-width: $max-mobile-width) {
    @content;
  }
}

@mixin tablet($max-tablet-width: 1599px) {
  @media (max-width: $max-tablet-width) {
    @content;
  }
}

@mixin desktop($min-desktop-width: 1600px) {
  @media (min-width: $min-desktop-width) {
    @content;
  }
}