@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$rose-palette,
      typography: Roboto,
      density: 0,
    )
  );
}


// :root {
//   // ** Colors

//   // * Base
//   --ng-color-base-accent: #34a853;

//   // * State
//   --ng-color-state-error: #b3261e;

//   // * Bg
//   --ng-color-bg-black: #000;
//   --ng-color-bg-white: #fff;
//   --ng-color-bg-gray: #f1f1f1;

//   // * Secondary
//   --ng-color-secondary-gray: #f1f1f1;
//   --ng-color-secondary-gray-light: #f8f8f8;
//   --ng-color-secondary-gray-dark: #191919;
//   --ng-color-secondary-gray-dark-2: #0d0d0d;

//   // * Border
//   --ng-color-border-disabled: #f1f1f1;
//   --ng-color-border-active: #34a853;
//   --ng-color-border-default: #b6b0bc;
//   --ng-color-border-hover: #000;
//   --ng-color-border-error: #b3261e;

//   // * Btn
//   --ng-color-btn-bg: #34a853;
//   --ng-color-btn-bg-hover: #45bd67;

//   // * Icon
//   --ng-color-icon-accent: #34a853;
//   --ng-color-icon-white: #fff;
//   --ng-color-icon-black: #000;
//   --ng-color-icon-gray: #b2b2b2;
//   --ng-color-icon-error: #b3261e;

//   // * Stroke
//   --ng-color-stroke-gray: #b2b2b2;
//   --ng-color-stroke-white: #fff;

//   // * Txt
//   --ng-color-txt-black: #000;
//   --ng-color-txt-white: #fff;
//   --ng-color-txt-accent: #34a853;
//   --ng-color-txt-secondary-dark: #7f7f7f;
//   --ng-color-txt-secondary-light: #b2b2b2;

//   // * Primitives
//   --ng-color-primitives-50: #ebf7ee;
//   --ng-color-primitives-400: #45bd67;
//   --ng-color-primitives-500: #34a853;

//   // * Gray
//   --ng-color-gray-0: #fff;
//   --ng-color-gray-50: #f8f8f8;
//   --ng-color-gray-100: #f1f1f1;
//   --ng-color-gray-150: #d9d9d9;
//   --ng-color-gray-200: #ccc;
//   --ng-color-gray-300: #b2b2b2;
//   --ng-color-gray-400: #999;
//   --ng-color-gray-500: #7f7f7f;
//   --ng-color-gray-600: #606060;
//   --ng-color-gray-700: #4c4c4c;
//   --ng-color-gray-800: #333;
//   --ng-color-gray-850: #262626;
//   --ng-color-gray-900: #191919;
//   --ng-color-gray-950: #0d0d0d;
//   --ng-color-gray-1000: #000;

//   // * Radius
//   --ng-radius-s: 8px;
//   --ng-radius-m: 16px;
//   --ng-radius-l: 20px;
//   --ng-radius-xl: 32px;
// }