<section class="wrapper">
  <div class="content benefit">
    <ul class="benefit__list">
      <li class="benefit__list-item emphasized-txt">
        <p class="benefit__list-item-text">
          Выполнение за <span class="red"> 1 день</span>
        </p>
        <!-- <span class="line"></span> -->
        <span class="stars-divider">* * *</span>
      </li>

      <li class="benefit__list-item emphasized-txt">
        <p class="benefit__list-item-text">
          Собственное оборудование и транспорт
        </p>
        <!-- <span class="line"></span> -->
        <span class="stars-divider">* * *</span>
      </li>

      <li class="benefit__list-item emphasized-txt">
        <p class="benefit__list-item-text">Любые типы помещений</p>
        <!-- <span class="line"></span> -->
        <span class="stars-divider">* * *</span>
      </li>

      <li class="benefit__list-item emphasized-txt">
        <p class="benefit__list-item-text">
          Экологичный материал и лучшее качество
        </p>
        <!-- <span class="line"></span> -->
        <span class="stars-divider">* * *</span>
      </li>

      <li class="benefit__list-item emphasized-txt">
        <p class="benefit__list-item-text">
          Высокая производительность и снижение затрат
        </p>
      </li>
    </ul>
  </div>
</section>
