<section class="wrapper">
  <div class="content services">
    <mat-tab-group class="services__tabs">
      <mat-tab
        class="services__tabs-label"
        label="Штукатурка стен"
        #wall
        id="1"
      >
        <div class="services__tabs-label-card first-card card-content">
          <p class="services__tabs-label-card-txt txt">
            <span>
              Преображение стен начинается с умелых рук наших мастеров,
              вооруженных немецкой штукатурной станцией PFT RITMO XL. Этот
              технологический шедевр, рожденный из стремления к автоматизации и
              совершенству, отличается компактностью, позволяя вдохнуть новую
              жизнь даже в скромные пространства. Высокая производительность
              станции – гарантия не только скорости, но и безупречного качества,
              ведь однородность замеса – залог долговечности и эстетики.
            </span>
            <span
              >Перед тем, как смесь коснется стен, мы проводим тщательную
              подготовку: избавляемся от старого, отжившего, и наносим грунт,
              количество слоев которого зависит от характера поверхности –
              пористый газосиликат может потребовать двойной порции защиты. Для
              ровного нанесения выставляются маяки. После чего начинается
              нанесение штукатурки MP75, чье имя уже стало синонимом качества.
              После нанесения - выравнивание, и в результате мы получаем
              идеально гладкие стены, готовые стать холстом для ваших самых
              смелых дизайнерских фантазий.
            </span>
          </p>

          <div class="services__tabs-label-card-buttons btns">
            <div class="services__tabs-label-card-buttons-btn btn">
              <button
                class="btn-white"
                routerLink="../calculator"
                routerLinkActive="active"
              >
                Рассчитать стоимость
              </button>
            </div>
            <div class="services__tabs-label-card-buttons-btn btn">
              <button class="btn-white" (click)="openDialog()">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="services__tabs-label-photo">
          <img src="/assets/images/5.jpg" alt="фото готовой стены" />
        </div>
      </mat-tab>
      <mat-tab
        class="services__tabs-label"
        label="Механизированная стяжка пола"
        (linkFloorClick)="fTwo()"
        #floor
        id="2"
      >
        <div class="services__tabs-label-card card-content">
          <p class="services__tabs-label-card-txt txt">
            <span
              >В отличие от кропотливого ручного труда, механизированная стяжка
              пола – это синоним скорости и совершенства. Благодаря уменьшенному
              содержанию влаги раствор демонстрирует меньшую усадку, а
              безупречная однородность смеси значительно улучшает прочностные
              характеристики, сводя к минимуму риск появления трещин и повышая
              устойчивость к любым механическим воздействиям. Мы используем
              растворы марки М200 и выше, при необходимости добавляя
              фиброволокно для придания дополнительной прочности.
            </span>
            <span>
              Работа кипит в несколько этапов: сначала устанавливаем маячную
              систему, затем армируем стяжку прочной сеткой. После этого пол
              заливается раствором и тут же выравнивается до идеального
              состояния. Спустя несколько часов поверхность затирается,
              приводится в порядок и проливается водой.
            </span>
            <span
              >Раствор изготавливается бетонным заводом по рецептуре и имеет
              определенную марку, подтверждаемую сертификатом. В процессе
              раствор подается из миксера. Таким образом, исключается участие
              человека в приготовлении смеси и мы избавляемся от пресловутого
              человеческого фактора, гарантируя безупречное качество.
            </span>
            <span>
              Мокрая стяжка, этот испытанный временем метод, отличается от
              полусухой не только технологией укладки, но и превосходит её по
              прочности, обеспечивая долговечность и надежность основания.
            </span>
          </p>
          <div class="services__tabs-label-card-buttons btns">
            <div class="services__tabs-label-card-buttons-btn btn">
              <button
                class="btn-white"
                routerLink="../calculator"
                routerLinkActive="active"
              >
                Рассчитать стоимость
              </button>
            </div>
            <div class="services__tabs-label-card-buttons-btn btn">
              <button class="btn-white" (click)="openDialog()">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>

        <div class="services__tabs-label-photo">
          <img src="/assets/images/10.jpg" alt="фото процесс стяжки пола" />
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
