@use "variables";
@use "./mixins" as mixins;

.animation {
  @include mixins.size($width: 100vw, $height: 90vh);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include mixins.mobile {
    padding-bottom: 120px;
  }

  h1 {
    color: var(--color-cinder);
    font-size: 220px;

    @include mixins.mobile {
      font-size: 120px;
    }
  }
}

.container {
  position: relative;
  text-align: center;
  @include mixins.size($height: 60%);
  @include mixins.flex();
}

.first-four {
  position: relative;
  left: 45px;
  
  @include mixins.mobile {
    left: 150px;
  }
}

.second-four {
  position: relative;
  right: 105px;
  z-index: -1;
  @include mixins.mobile {
    right: 150px;
  }
}
.cog-wheel1,
.cog-wheel2 {
  transform: scale(0.6);
  @include mixins.mobile {
    transform: scale(0.3);
  }
}

.cog1,
.cog2 {
  @include mixins.size($width: 215px, $height: 215px);
  border-radius: 50%;
  border: 30px solid var(--color-silk); 
  position: relative;
  @include mixins.mobile {
  }
}

.cog1 {
  transform-origin: "50% 50%";
  animation: cog1 8s linear infinite;
  @include mixins.mobile {
    left: 228px;
  }
}

.cog2 {
  position: relative;
  left: -96px;
  bottom: 55px;
  border: 30px solid var(--color-dune); 
  transform-origin: "50% 50%";
  animation: cog2 8s linear infinite;
  @include mixins.mobile {
    left: -228px; 
  }
}

.top,
.down,
.left,
.right,
.left-top,
.left-down,
.right-top,
.right-down {
  width: 60px;
  height: 60px;
  background-color: var(--color-silk); 
  position: absolute;
}

.cog2 .top,
.cog2 .down,
.cog2 .left,
.cog2 .right,
.cog2 .left-top,
.cog2 .left-down,
.cog2 .right-top,
.cog2 .right-down {
  background-color: var(--color-dune);
}

.top {
  top: -85px;
  left: 50px;
}

.down {
  bottom: -85px;
  left: 50px;
}

.left {
  left: -85px;
  top: 50px;
}

.right {
  right: -85px;
  top: 50px;
}

.left-top {
  transform: rotateZ(-45deg);
  left: -45px;
  top: -45px;
}

.left-down {
  transform: rotateZ(45deg);
  left: -45px;
  top: 140px;
}

.right-top {
  transform: rotateZ(45deg);
  right: -45px;
  top: -45px;
}

.right-down {
  transform: rotateZ(-45deg);
  right: -45px;
  top: 140px;
}

.wrong-para {
  font-weight: 400;
  color: var(--color-black);
  width: 100%;
  text-align: center;
}

@keyframes cog1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes cog2 {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
