@use "variables";
@use "./mixins" as mixins;
@use "decoration";

.modal {
  @include mixins.card-outline(
    $background-c: transparent,
    $border-r:
      var(--mat-dialog-container-shape, var(--mat-sys-corner-extra-large, 4px)),
    $outline: 1.5px solid var(--color-border-black)
  );
  text-align: center;

  ::-webkit-scrollbar {
    display: none;
  }

  &__title {
    font-family: Oswald, "Helvetica Neue", sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0;
    padding-top: 0px;
  }

  &__subtitle {
    color: var(--color-text-black);
    margin-bottom: 8px;
  }

  &__dialog {
    &-form {
      @include mixins.flex();
      flex-direction: column;

      &-field {
        width: 100%;
      }

      &-checkbox {
        width: 90%;
        text-align: left;
        white-space: normal;
        @include mixins.mobile {
          width: 100%;
        }

        &-consent {
          width: 100%;
          white-space: normal;
          font-weight: 200;
          margin-left: -8px;

          &-link {
            text-transform: uppercase;
            display: block;
          }

          a {
            font-size: 14px;
            color: var(--color-link-black);
            text-decoration: underline;
            font-weight: 400;
            transition: color 0.3s ease;

            &:hover {
              color: var(--color-link-white);
            }
          }
        }

        mat-error {
          padding-left: 38px;
        }
      }
    }
  }

  &__actions {
    gap: 40px;
    padding-bottom: 20px;
    margin-top: 10px;

    @include mixins.mobile {
      gap: 5px;
    }

    &-btn {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      padding: 10px 20px;
    }
  }

  input,
  mat-label {
    @include mixins.mobile {
      font-size: 14px;
    }
  }

  mat-error {
    margin-top: -5px;
  }
}

::ng-deep .mat-mdc-dialog-content {
  padding-top: 5px !important;
}

:host ::ng-deep .mat-mdc-select-value-text {
  white-space: wrap;
}

::ng-deep .mat-mdc-dialog-container {
  margin: 0 auto;
}

::ng-deep .mat-pseudo-checkbox {
  background-color: var(--color-bg-dark-gray) !important;
  border-color: var(--color-white) !important;
  -webkit-border-color: var(--color-white) !important;
}

::ng-deep .mat-pseudo-checkbox::after {
  color: var(--color-text-white) !important;
  -webkit-color: var(--color-text-white) !important;
}

::ng-deep .mdc-list-item__primary-text {
  color: var(--color-text-white);
}

::ng-deep .mdc-checkbox__background {
  border: 2px solid var(--color-black) !important;
  margin-top: -5px;
}
