<div class="modal">
  <h2 mat-dialog-title class="modal__title">Обратный звонок / заявка</h2>
  <p class="modal__subtitle">Выезд в день обращения</p>

  <mat-dialog-content class="modal__dialog">
    <form class="modal__dialog-form" [formGroup]="contactForm">
      <mat-form-field class="modal__dialog-form-field">
        @let name = contactForm.controls.name;
        <mat-label>Ваше имя</mat-label>
        <input matInput type="text" formControlName="name" name="name" />
        <mat-error>
          @if(name.invalid && (name.dirty || name.touched)){
          @if(name.hasError('required')){ Это обязательное поле }@else {
          Допустимы только русский и английский алфавит} }
        </mat-error>
      </mat-form-field>
      <mat-form-field class="modal__dialog-form-field">
        @let works = contactForm.controls.works;
        <mat-label>Вид работ</mat-label>
        <mat-select formControlName="works" multiple>
          @for (work of workList; track work) {
          <mat-option [value]="work">{{ work }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if(works.hasError('required')){ Это обязательное поле }
        </mat-error>
      </mat-form-field>
      <mat-form-field class="modal__dialog-form-field">
        @let address = contactForm.controls.address;
        <mat-label>Адрес</mat-label>
        <input matInput type="text" formControlName="address" name="address" />
        <mat-error>
          @if(address.hasError('required')){ Это обязательное поле }
        </mat-error>
      </mat-form-field>
      <mat-form-field class="modal__dialog-form-field">
        @let tel = contactForm.controls.tel;
        <mat-label>Телефон</mat-label>
        <input
          matInput
          type="text"
          prefix="+7 "
          mask="000 000 00 00"
          [showMaskTyped]="true"
          formControlName="tel"
          name="tel"
        />
        <mat-error>
          @if(tel.hasError('required')){ Это обязательное поле }
        </mat-error>
      </mat-form-field>
      <mat-form-field class="modal__dialog-form-field">
        @let email = contactForm.controls.name;
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" name="email" />
        <mat-error>
          @if(email.hasError('email')){ Поле должно быть типа email:
          "example&#64;email.com" }
        </mat-error>
      </mat-form-field>
      <mat-form-field class="modal__dialog-form-field">
        <mat-label>Комментарии</mat-label>
        <textarea
          formControlName="comments"
          matInput
          placeholder="Введите текст..."
        ></textarea>
      </mat-form-field>
      <div class="modal__dialog-form-checkbox">
        <mat-checkbox
          [formControl]="consent"
          class="modal__dialog-form-checkbox-consent"
          name="consent"
          >Согласен на обработку моих персональных данных в соответствии с
          <a
            mat-dialog-close
            routerLink="privacy"
            routerLinkActive="active"
            class="modal__dialog-form-checkbox-consent-privacy"
          >
            политикой конфиденциальности.
          </a>
          <a
            mat-dialog-close
            routerLink="consent"
            routerLinkActive="active"
            class="modal__dialog-form-checkbox-consent-link"
          >
            Соглашение на обработку персональных данных</a
          >
        </mat-checkbox>
        <mat-error>
          @if(consent.touched && consent.invalid) { Необходимо ваше согласие }
        </mat-error>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="modal__actions">
    <button mat-dialog-close class="modal__actions-btn btn-decor-flash-black">
      Отмена
    </button>
    <button
      mat-dialog-close
      class="modal__actions-btn btn-decor-flash"
      type="button"
      [disabled]="contactForm.invalid || consent.invalid || loading()"
      (click)="onSubmit()"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Отправить
    </button>
  </mat-dialog-actions>
</div>
