@use "variables";

.wrapper {
  min-height: 500px;
  box-shadow: 0 6px 10px variables.$shadow-black-05;

  @media (min-width: 1024px) and (max-width: 1420px) {
    min-height: 400px;
  }
  @media (min-width: 320px) and (max-width: 1023px) {
    max-width: 320px;
    min-height: 400px;
    overflow-x: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    //  max-width: 320px;
    // margin: 0 auto;
  }

  .slider {
    @media (min-width: 320px) and (max-width: 1023px) {
      overflow: hidden;
      position: relative;
    }
    &__icon {
      display: none;

      @media (min-width: 320px) and (max-width: 1023px) {
        display: block;
        position: absolute;
        z-index: 2;
        bottom: 10px;
        left: 22px;
      }

      mat-icon {
        @media (min-width: 320px) and (max-width: 1023px) {
          font-size: 30px;
          //font-weight: 300;
          // color: orange;
          color: white;
          width: 100%;
          height: 100%;

          animation: color-icon 4s ease-in-out infinite;
        }
      }
    }
    &__slide {
      position: absolute;
      width: 61.5%;
      height: 100%;
      top: 0;
      background: variables.$bg-dark-gray;
      color: variables.$text-white;
      display: flex;
      gap: 10px;
      text-align: center;
      padding: 10px;
      @media (min-width: 1290px) and (max-width: 1300px) {
        width: 62%;
        gap: 0;
      }
      @media (min-width: 1024px) and (max-width: 1289px) {
        width: 65%;
        gap: 0;
      }
      @media (min-width: 320px) and (max-width: 1023px) {
        width: 100%;
        gap: 0;
        padding: 0;
        display: none;
      }

      &-content {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 320px) and (max-width: 1023px) {
          width: 100%;
          position: absolute;
          background-color: rgba(29, 29, 29, 0.562);
          padding: 5px;
          height: 100%;
        }

        &-title {
          width: 64%;
          color: variables.$text-white;
          line-height: 100%;
          margin: 8px 8px 30px 8px;

          @media (min-width: 320px) and (max-width: 1023px) {
            margin-bottom: 15px;
            width: 100%;
          }
        }

        &-txt {
          // font-size: 20px;
          padding: 0 10px;
          margin-bottom: 40px;

          @media (min-width: 320px) and (max-width: 1023px) {
            // padding: 0 10px;
            margin-bottom: 15px;
          }
        }
        .btns {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 15px;
          @media (min-width: 320px) and (max-width: 1023px) {
            gap: 5px;
          }
        }
      }

      &-foto {
        width: 38%;
        height: 100%;
        box-shadow: 0px 0px 3px 2px variables.$shadow-black;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-width: 1024px) and (max-width: 1300px) {
          width: 40%;
        }
        @media (min-width: 320px) and (max-width: 1023px) {
          width: 100%;
        }
      }
    }
  }

  .slide-1 {
    left: 0;
    background: variables.$bg-dark-gray;
    transition: 1s left ease-in-out, 1s background ease;
    @media (min-width: 320px) and (max-width: 1023px) {
      // left: 50%;
      // transform: translateX(-50%);
    }
  }
  .slide-1 button {
    color: variables.$seashell;
    border: 1px solid variables.$seashell;
  }
  .slide-1 button:hover {
    color: variables.$black;
    border: 1px solid transparent;
    background-color: variables.$seashell;
  }
  .slide-1 button:active {
    color: variables.$seashell;
    border: 1px solid variables.$seashell;
    background-color: inherit;
  }
  .slide-2 {
    right: 0;
    transition: 1s right ease-in-out, 1s background ease, 1s color ease;
    z-index: 5;
    color: variables.$text-black;
    background: variables.$bg-light-orange;
    box-shadow: 0 20px 5px 10px variables.$shadow-black;

    @media (min-width: 320px) and (max-width: 1023px) {
      right: -70%;
    }

    h1 {
      color: variables.$text-black;
    }
  }

  .slide-1:hover {
    left: 0%;
    background: variables.$bg-middle-gray;

    @media (min-width: 320px) and (max-width: 1023px) {
      // left: 50%;
      // transform: translateX(-50%);
    }
  }
  .slide-2:hover {
    background: variables.$bg-yellow;
    color: variables.$text-black;

    @media (min-width: 320px) and (max-width: 1023px) {
      right: -5%;
    }
  }
  .slide-1:hover + .slide-2 {
    right: -18%;
    color: variables.$text-white;

    @media (min-width: 1024px) and (max-width: 1289px) {
      right: -25%;
    }

    @media (min-width: 320px) and (max-width: 1023px) {
      right: -70%;
    }
  }

  .foto-1 {
    background-image: url(/assets/images/5.jpg);
  }
  .foto-2 {
    background-image: url(/assets/images/6.jpg);
  }

  swiper-container {
    // display: none;

    // @media (min-width: 320px) and (max-width: 1023px) {
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    // }
  }

  swiper-slide {
    //height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  .swiper {
    display: none;

    @media (min-width: 320px) and (max-width: 1023px) {
      display: block;
      width: 100%;
      //height: 100%;
      display: grid;
      grid-template-columns: 1fr;
    }
    &__slide {
      // position: absolute;

      min-height: 400px;
      width: 100%;
      // top: 0;
      // background: variables.$bg-dark-gray;
      color: variables.$text-white;
      display: flex;

      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      gap: 0;
      padding: 10px;
      // border-bottom-left-radius: 4px;
      // border-bottom-right-radius: 4px;

      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        //  width: 100%;
        // position: absolute;
        background-color: rgba(29, 29, 29, 0.7);
        padding: 5px;
        // height: 100%;
        height: auto;

        &-title {
          color: variables.$text-white;
          line-height: 1;
          margin-bottom: 15px;

          //width: 100%;
        }

        &-txt {
          padding: 0 5px;
          margin-bottom: 15px;
        }
        .btns {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 5px;

          button {
            color: white;
            border: 1px solid white;
          }
          button:hover {
            background-color: transparent;
          }
          button:active {
            background-color: black;
            border-color: black;
          }
        }
      }
    }
  }
  .swiper-slide-1 {
    background-image: url(/assets/images/5.jpg);
  }
  .swiper-slide-2 {
    background-image: url(/assets/images/6.jpg);
  }
  swiper-container::part(bullet-active) {
    width: 10px;
    height: 10px;
    background-color: orange;
  }
  swiper-container::part(bullet) {
    width: 8px;
    height: 8px;
    background: rgb(255, 255, 255);
    opacity: 0.7;
  }
  @keyframes color-icon {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
