@use "variables";

.wrapper {
  background: rgba(236, 240, 241, 0.3); //@body !light+
  box-shadow: 0 5px 10px variables.$shadow-black-05;
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  margin-bottom: 20px;

  .advantage {
    padding: 0.5% 60px;

    @media (min-width: 320px) and (max-width: 1023px) {
      padding: 0 10px;
    }

    &__container {
      width: 100%;
      padding-bottom: 30px;

      &-title {
        text-decoration: underline solid variables.$squash;
        // margin-bottom: 20px;

        // @media (min-width: 1024px) and (max-width: 1220px) {
        //   margin-bottom: 10px;
        // }
        // @media (min-width: 320px) and (max-width: 1023px) {
        //   margin-bottom: 10px;
        // }
      }

      &-content {
        @media (min-width: 1201px) and (max-width: 1403px) {
          padding-bottom: 20px;
        }
        @media (min-width: 1047px) and (max-width: 1200px) {
          padding-bottom: 35px;
        }
        @media (min-width: 1024px) and (max-width: 1046px) {
          padding-bottom: 55px;
        }
        @media (min-width: 320px) and (max-width: 1023px) {
          padding-bottom: 0px; //?
          // height: 100%;
        }

        &-list {
          position: relative;
          border-radius: 10px;
          z-index: 1;
          @media (min-width: 320px) and (max-width: 1023px) {
            display: flex;
            flex-direction: column;
            // gap: 10px;
            padding-bottom: 30px;
          }

          &-item {
            width: 43%;
            position: absolute;
            left: 0;
            z-index: 3;
            gap: 0px;
            background-color: variables.$bg-yellow;
            border-radius: 10px;
            outline: 1px solid variables.$border-black;
            outline-offset: -4.5px;
            box-shadow: 3px 1px 4px 0px variables.$shadow-black;
            padding: 20px 15px;
            //1631-1798//1300

            @media (min-width: 1024px) and (max-width: 1415px) {
              // max-height: 250px;
            }
            @media (min-width: 1024px) and (max-width: 1919px) {
              padding: 10px 7px;
            }
            @media (min-width: 320px) and (max-width: 1023px) {
              width: 100%;
              padding: 10px 7px;
              position: relative;
              box-shadow: 1px 5px 8px 1px rgba(34, 34, 34, 0.712);
            }

            &-top {
              display: flex;
              justify-content: end;
              align-items: center;
              gap: 5px;
              padding-right: 18px;

              &-icon {
                mat-icon {
                  width: auto;
                  height: auto;
                  font-size: 30px;
                  color: variables.$text-black;
                  margin-bottom: -7px;
                  transition: transform 0.5s ease, color 1s ease;
                  @media (min-width: 320px) and (max-width: 1023px) {
                    font-size: 28px;
                  }
                }
              }
            }

            &-txt {
              width: 100%;
              text-align: justify;
              transition: color 0.65s ease;
              padding: 10px;

              @media (min-width: 1024px) and (max-width: 1919px) {
                // padding-top: 0px; //5px;
              }
            }
          }

          &-item:hover {
            mat-icon {
              transform: translateX(5px);
              @media (min-width: 320px) and (max-width: 1023px) {
                transform: translateX(0px);
              }
            }
          }

          li:nth-child(1) {
            color: variables.$text-black;
            // flex-grow: 1;
            @media (min-width: 320px) and (max-width: 1023px) {
              left: 0;
              //       box-shadow: 1px 5px 8px 1px rgba(34, 34, 34, 0.712);
              // z-index: 3;
            }
          }

          li:nth-child(2) {
            //flex-grow: 1;
            left: 10%;
            z-index: 2;
            transition: transform 1.2s ease;
            @media (min-width: 320px) and (max-width: 1023px) {
              left: 0;
              top: -10px;
              // z-index: 2;
            }
          }

          li:nth-child(3) {
            // flex-grow: 1;
            left: 20%;
            z-index: 1;
            transition: transform 1.2s ease;

            @media (min-width: 320px) and (max-width: 1023px) {
              left: 0;
              top: -20px;
              box-shadow: 1px 3px 4px 1px rgba(34, 34, 34, 0.712);
              //  z-index: 0;
            }
          }

          li:nth-child(2),
          li:nth-child(3) {
            color: variables.$text-white;

            @media (min-width: 320px) and (max-width: 1023px) {
              color: variables.$text-black;
            }
          }

          li:hover {
            color: variables.$text-black;
          }

          li:nth-child(2):hover,
          li:nth-child(3):hover {
            transform: translateX(74.5%);

            @media (min-width: 1024px) and (max-width: 1599px) {
              transform: translateX(75%);
            }

            @media (min-width: 320px) and (max-width: 1023px) {
              transform: translateX(0%);
            }
          }

          li:nth-child(2):hover + li:nth-child(3) {
            transform: translateX(59%);

            @media (min-width: 320px) and (max-width: 1023px) {
              transform: translateX(0px);
            }
          }
        }
      }
      .cubes {
        margin-left: auto;
        right: 8%;
        bottom: 80px;

        @media (min-width: 1024px) and (max-width: 1300px) {
          right: 13%;
        }
        @media (min-width: 320px) and (max-width: 1023px) {
          //  margin-left: 0;
          right: 0;
          bottom: 25px;
          margin: 0 auto;
          //display: none;
        }
      }
    }
  }
}
